body {
  margin: 0;
  padding: 0;
  background-color: #0d0d0d;
  color: #ffffff;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3em;
  color: #00e6e6;
}

/* header (top bar for heading) */
.header {
  background-color: #1a1a1a;
  padding: 1em 5em;
  color: #ffffff;
  text-align: center;
  margin: 0 5em;
  border-radius: 0 0 1em 1em;
}

.flex {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* input area for writing the task */
input {
  margin: 0;
  border: none;
  width: 75%;
  padding: 10px;
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-radius: 10px 0 0 10px;
  background-color: #262626;
  color: #ffffff;
}

input::placeholder {
  color: #888;
}

/* to add the task (button) */
.addBtn {
  padding: 1em 3em;
  width: 25%;
  background: #00e6e6;
  color: black;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  font-weight: bolder;
  border-radius: 0 10px 10px 0;
}

.addBtn:hover {
  background-color: #ff571a;
  color: white;
  font-weight: bolder;
}

/* the real task showing area */
ul {
  margin: 3em 5em 0.3em 5em;
  padding: 0;
  height: 60vh;
  overflow-y: scroll;
  scrollbar-width: none; /* make it scrollbar width completely hidden, so, it will look good while scrolling */
}
ul::-webkit-scrollbar {
  display: none;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #262626;
  font-size: 18px;
  transition: 0.3s;
  color: #f2f2f2;
}

ul li:nth-child(odd) {
  background: #333333;
}

ul li:hover {
  background: #00e6e6;
  color: black;
}

ul li.checked {
  background: #111111;
  color: #aaaaaa;
  text-decoration: line-through;
  border: 1px solid #444;
}

ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #00e6e6;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  color: #888;
}

.close:hover {
  background-color: #ff3b3b;
  color: white;
}

/* responsiveness */
@media (max-width: 600px) {
  .header {
    margin: 0;
    border-radius: 0;
    width: 100%;
    padding: 2em;
  }
  ul {
    margin: 2em 0em 0.3em 0em;
  }
}
